@media screen and (max-device-width: 540px) {
	body {
		background-size: 300%;
	}

	#box {
		width: 80%;
		margin: 15px auto;
		padding: 20px 20px;
		border-radius: 15px;
	}

	img#logo {
		float: none;
		margin: 0px;
	}

	form {
		text-align: center;
		margin: 0px;
	}

	input#lineToRhyme {
		width: 90%;
		height: 30px;
		margin: 10px 0px 0px 0px;
		padding: 0px 10px;
	}

	input.button {
		background-color : transparent;
	    font-color : #505050;
		border-width : 0px;
	}

	div.button {
		width:30%;
		background:#F0F8FF;
		height: 30px;
		border: 1px solid #B0C4DE;
		margin: 0px;
		display: table-cell; 
		vertical-align: middle;
	}

	form p {
		font-size: small;
		margin: 10px 0px;
	}

	h1 {
		display:none;
	}

	h2 {
		display:none;
	}

	h3 {
		font-size: medium;
		margin: 20px 0px 5px 0px;
	}
}