body {
	background: #CAE4E5 url('images/bg.png') no-repeat bottom center fixed;
	background-size: 100%;
	margin: 0px;
	padding: 0px;
	text-rendering: optimizeLegibility;
	font-family: sans-serif;
}

#box {
	width: 600px;
	background: #0F5F78;
	color: #FFFFFF;
	margin: 50px auto 30px auto;
	padding: 20px;
	box-shadow: 0px 8px 40px #000;
	border-radius: 5px;
	overflow: hidden;
	box-sizing: content-box;
}

img#logo {
	width: 150px;
	float: left;
	margin: 0px 20px 20px 0px;
}

h1 {
	margin: 0px;
	padding: 0px;
	font-size: 48px;
}

h2 {
	margin: 0px;
	padding: 0px;
}

h3 {
	margin: 20px 0px 0px 0px;
}

#box a {
	text-decoration: none;
	color: #ffffff;
}

#box a:hover {
	text-decoration: underline;
	color: #ffffff;
}

h1 a:hover {
	text-decoration: none !important;
}

form {
	margin: 20px 0px 0px 0px;
}

form input#line {
	/*border: 1px solid #E8D2C0;*/
	border: 0px;
	width: 89%;
	padding: 3px;
	/*font-family: Georgia, "Times New Roman", Serif;*/
	box-shadow: inset 0px 2px 4px #000;
	border-radius: 3px;
}

form input.grey {
	color: #555555;
}

form a.button {
	display: inline-block;
	text-decoration: none !important;
	padding: 3px 6px;
	border-top: 1px solid #1381AA;
	border-bottom: 1px solid #072F3E;
	background: #0A4256;
	color: #FFFFFF;
	font-size: x-small;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 3px;
	text-align: center;
	float: right;
}

form a.button:hover {
	border-top: 1px solid #9AB7C0;
	border-bottom: 1px solid #3D484C;
	background: #748A91;
}

form a.button:active {
	border-top: 1px solid #3D484C;
	border-bottom: 1px solid #9AB7C0;
	background: #748A91;
}

form p {
	font-size: x-small;
	margin: 5px 0px;
}

#manipulable {
	margin: 0px;
	padding: 0px;
}

ul#poem {
	list-style-type: none;
	margin: 20px 0px 0px 0px;
	padding: 0px;
}

ul#poem li {
	margin: 10px 0px 10px 20px;
	text-indent: -20px;
	font-size: medium;
}

ul#hashtags {
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px;
}

ul#hashtags li {
	display: inline-block;
	font-size: small;
	padding: 0px;
	margin: 0px 5px;
}

#copyright {
	width: 400px;
	text-align: center;
	font-size: x-small;
	margin: 0px auto 20px auto;
	padding: 10px;
	background: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0px 8px 40px #000;
}

#copyright p {
	margin: 5px 0px;
}

#copyright a {
	text-decoration: none;
	color: #0A4256;
}

#copyright a:hover {
	text-decoration: underline;
}