body {
	background-image:url("images/bg.png");
	margin:0px;
	padding:0px;
	text-rendering: optimizeLegibility;
	font-family: Georgia, "Times New Roman", Serif;
}

#box {
	width: 100%;
   /* background-image:url("images/bg.png");*/
	color: #FFFFFF;
	margin: 1px auto 30px auto;
	/*padding: 20px 20px;
	box-shadow: 0px 4px 15px #000;*/
}

h1 {
	display : none;
}

h2 {
	display : none;
}

p
{
	display:none;
}

div.button
{
    width:33%;
	background:#F0F8FF;
	height:20pt;
	border-style : solid;
	border-width : thin;
	border-color : #B0C4DE;

}


#center
{
	margin:0px;
	float:left;
}
#left
{
	float:left;
}
#right
{
	float:right;
	margin:0px;
}



img 
{
    height : 120pt;
    /*20 for submit for and 20 for buttons*/
}

#submit
{
	background-color : transparent;
    font-color : #505050;
	border-width : 0px;
}

#refresh
{
	background-color : transparent;
    font-color : #505050;
	border-width : 0px;
} 

#tweet
{
	background-color : transparent;
    font-color : #505050;
	border-width : 0px;
} 

form {
	text-align:center;
	margin: 0px 0px;
}

form p {
	font-size: x-small;
	margin: 2px 0px;
}

input#lineToRhyme {
	/*border: 1px solid #E8D2C0;*/
	border: 0px;
	width: 100%;
	padding: 3px;
    height : 20pt;
	font-family: Georgia, "Times New Roman", Serif;
	box-shadow: inset 0px 2px 5px #000;
}

ul#results {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul#results li {
	margin: 10px 0px;
	margin-left: 20px;
	text-indent: -20px;
}

#copyright {
	text-align: center;
	font-size: xx-small;
	margin-bottom: 20px;
}

#copyright p {
	margin: 5px 0px;
}

.grey {
	color: #555555;
}
